header h1:before {
  content: "" !important;
}

header h1 {
  margin-left:0px;
}

footer {
  border-top: 1px dashed #b5e853;
  padding: 20px 0;
  margin: 40px 0 0 0;
  font-size: smaller;
}

#hosting td, #hosting th {
  text-align: center;
}
#hosting td:first-child {
  text-align: left;
}
